{% for item in data %}
    <div class="panel-body">
        <div class="panel-group" id="accordion">
            <div class="panel panel-danger">
                <div class="panel-heading">
                    <h5 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                            There are some errors on this service. Click on the banner to show count of errors. For
                            review errors, click FAILED button
                        </a>
                    </h5>
                </div>
                <div id="collapseOne" class="panel-collapse collapse">
                    <div class="panel-body">
                        <p>Date of last check: {{ item.created_on|date("l, F j, Y") }}</p>
                        <p>Login: <strong>codecrew_prod@boosta.co</strong></p>
                        <p>Password: <strong>c0deCrew</strong></p>
                        <a class="btn btn-danger btn-rounded" href="{{ item.url }}" target="_blank">
                            Failed ({{ item.failed_count }})
                        </a>
                        <a class="btn btn-primary btn-rounded" href="{{ item.url }}" target="_blank">
                            Success ({{ item.passed_count }})
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endfor %}
